.nav-bar{
    padding: 2.5em;
    display: flex;
    justify-content: space-between;
}
#title{
    padding: 0.5em;
}
#main-title{
    display: block;
    font-weight: bold;
    font-size: 2em;
}
#tag-line{
    font-size: 1em;
    display: block;
    padding-top: none;
    line-height: 1.8em;
}
.nav-tabs{
    a{
        font-size: 0.8em;
    }
}